body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #272044;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(./images/Rome.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 150px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
}
header a {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 16px 32px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 32px;
}
main {
}
main h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 5px;
  opacity: 0.3;
  color: #272044;
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  color: #272044;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}
main p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #272044;
  opacity: 0.7;
}
main .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  background-color: white;
  padding: 100px;
  text-align: left;
}

footer {
  color: white;
  margin-top: 15px;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.8)
    ),
    url(./images/Trevi-Fountain.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  text-align: left;
}
footer section {
  padding: 0 100px;
}
footer a {
  color: aquamarine;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: normal;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
}
footer .grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}
.signature {
  text-align: center;
  padding-top: 20px;
}
@media (max-width: 1200px) {
  main .grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  h1 {
    font-size: 80px;
    line-height: 1;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  header a {
    font-size: 12px;
    padding: 12px 28px;
  }
  main {
    padding: 40px 20px;
  }
  img {
    max-width: 100%;
  }
  main .grid {
    grid-template-columns: 1fr;
  }
  footer {
    padding: 0;
  }
  footer section {
    padding: 0 50px;
  }
  footer h3 {
    margin: 0;
  }
  footer p {
    font-size: 14px;
  }
  footer .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
