body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #272044;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("images/Rome.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 286px 292px;
}

header h1 {
  font-size: 87px;
  line-height: 100%;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  background-color: white;
  color: #272044;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 14px;
}
main {
  color: white;
}
.main-section-1 {
  background-color: #12101d;
  padding: 100px 0;
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.main-section-1-text {
  text-align: left;
  margin-right: 20px;
}
main h3 {
  opacity: 0.7;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}
main h2 {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}
.main-section-1 p {
  opacity: 0.7;
  font-weight: 400;
}

.main-section-2 {
  background-color: #181525;
  padding: 100px 0;
}
.main-section-2 h2 {
  padding-bottom: 50px;
}
.main-section-2 p {
  font-size: 14px;
  opacity: 0.7;
  margin: 0;
}
.places-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px;
  text-align: left;
  grid-gap: 20px;
}
.card {
  background-color: #272435;
}
.card-text {
  display: inline-block;
  padding: 0 30px;
}
.card a {
  background-color: #462cb2;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 14px;
  width: 80%;
  text-align: center;
}
.cards-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-section-3 {
  background-color: #12101d;
  padding: 100px 0;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  aspect-ratio: 20/9;
  padding: 100px 50px;
}
.gallery img {
  width: 400px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 12px 28px 0px,
    rgba(255, 255, 255, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.9)
    ),
    url("images/colosseum.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 80px 50px;
}
footer section {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding-bottom: 50px;
  padding-left: 80px;
}
footer div {
  text-align: left;
  padding-left: 50px;
}
footer p {
  opacity: 0.7;
}
footer a {
  color: violet;
}
footer span {
  display: inline-block;
  padding-top: 50px;
}

@media (max-width: 960px) {
  header {
    padding: 126px 132px;
  }
  header h1 {
    font-size: 42px;
  }
  header h2 {
    font-size: 22px;
  }
  header h3 {
    font-size: 16px;
  }
  header a {
    padding: 12px 28px;
    margin-top: 28px;
    font-size: 12px;
  }
  .main-section-1 img {
    width: 500px;
  }
  .main-section-1 {
    grid-template-columns: 1fr;
    padding: 50px 0;
  }
  .main-section-1-text {
    margin-left: 40px;
    margin-top: 20px;
  }
  .main-section-1 p {
    font-size: 14px;
  }
  main h3 {
    font-size: 14px;
  }
  main h2 {
    font-size: 34px;
  }
  .places-cards {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
  .cards-images {
    width: 300px;
  }
  .card {
    margin: 0 50px;
  }

  .gallery {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 50px;
    padding-left: 120px;
  }
  .gallery img {
    width: 300px;
  }
  footer {
    padding: 20px;
  }
  footer section {
    grid-template-columns: 1fr;
    padding: 0;
  }
  footer a {
    font-size: 14px;
  }
  footer p {
    font-size: 14px;
  }
  footer span {
    font-size: 14px;
  }
}
