body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #272044;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("images/Rome.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 286px 292px;
}

header h1 {
  font-size: 87px;
  line-height: 100%;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  font-style: Black;
  line-height: 100%;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  background-color: white;
  color: #272044;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 14px;
}
main {
  color: white;
}
.main-section-1 {
  background-color: #12101d;
  padding: 100px 0;
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.main-section-1-text {
  text-align: left;
  margin-right: 20px;
}
main h3 {
  opacity: 0.7;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}
main h2 {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}
.main-section-1 p {
  opacity: 0.7;
  font-weight: 400;
}

.main-section-2 {
  background-color: #181525;
  padding: 100px 0;
}
.main-section-2 h2 {
  padding-bottom: 50px;
}
.main-section-2 p {
  font-size: 14px;
  opacity: 0.7;
  margin: 0;
}
.places-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px;
  text-align: left;
  grid-gap: 20px;
}
.card {
  background-color: #272435;
}
.card-text {
  display: inline-block;
  padding: 0 30px;
}
.card a {
  background-color: #462cb2;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 14px;
  width: 80%;
  text-align: center;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("images/Rome.jpeg");
  /* background-image: linear-gradient(
      rgba(39, 32, 68, 0.7),
      rgba(39, 32, 68, 0.8)
    ),
    url(images/colisée-couleurs-italie.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 80px 50px;
}
footer section {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding-bottom: 50px;
  padding-left: 80px;
}
footer div {
  text-align: left;
  padding-left: 50px;
}
footer p {
  opacity: 0.7;
}
footer a {
  color: violet;
}
footer span {
  display: inline-block;
  padding-top: 50px;
}
